.box.arrow-left:after {
    content: " ";
    position: absolute;
    left: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: 15px solid black;
    border-left: none;
    border-bottom: 15px solid transparent;
  }
  .box {
    width: 350px;
    height: auto;
    background-color: black;
    color: #fff;
    padding: 20px;
    position: relative;
    margin: 40px;
  }
  @media only screen and (min-width:240px) and (max-width: 768px){
    .box{
        display: block;
        float: none;
        margin: 40px auto;
    }
}
 