
.contain{
    position: absolute;
    z-index: -1;
    left:0px;
    right: 0px;
    margin: auto;
}
.head{
    font-size:xx-large;
    font-family: cursive;
}

/* HOME */

.knowmorecolumn{
  width: 290px;
  align-items: center;
   /* height: fit-content; */
   height: 300px;
  height: max-content;
  background-color: rgb(66, 65, 65);
  /* opacity: 0.3; */
  color: white;
  margin-right: 50px;
  margin: auto;
}

.knowmore{
  font-size: 30px;


}
.container {
    position: relative;
    width: 100%; /* Adjust the width as needed */
  }
.img{
    width: 100%;
    height: fit-content;
    display: block;
  }
.imag{
  /* margin: auto; */
  width: 100%;
  opacity: 0.5;
  /* height: fit-content; */
  height: 500px;
  /* display: block; */
  /* transform: translate(-50%,-50%); */
}

.footer{
  margin-top: 100px;
}
.text {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: left; 
  }
  .homehead{
    font-size:xx-large;
    font-family: cursive;
   
  }
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
   
  }
  .txt:hover {
    text-decoration: underline;
    color: rgb(251, 146, 60);
}
  .navbar {
   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.0); /* Adjust the transparency here */
    padding: 15px 20px;
    box-sizing: border-box;
    z-index: 1000;
  }
.parkhead{
  font-size:xx-large;
  font-family: cursive;
 
}
/* .circle{
 
    position: absolute;
    top: 200px; Adjust the top position as needed
    left: 85%;
    transform: translate(-50%, -50%);
    width: 300px; Adjust the width as needed
    border-radius: 50%;
    padding: 20px;
    border: 1px solid #494848; Add a border for a card-like appearance
    background-color: #353434; Add a background color
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Add a box shadow for depth
    z-index: 1; Ensure the card appears above other elements */
    /* width: 100px;
    height: 100px;
  } */

.linksignup{
  margin-top: -30px;
  margin-right: -200px;
  color: coral;
}

.booking{
  opacity: .9;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: coral;
  font-size: 35px;
  
}
@media (max-width:768px) {
  .container-fluid{
    padding: 0 20px;
  }
  .text{
    font-size: 14px;
  }
}
@media (max-width:567px) {
  .container-fluid{
    padding: 0 10px;
  }
  .text{
    font-size: 12px;
  }
}
@media (max-width:768) {
  .flx{
    flex-direction: column;

  }  
  .column{
    flex-basis: calc(50%-20px);
  }
}