.securityimage {
    position: relative;
    z-index: 1;
}

.navss {
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 50%;
    background-color:coral;
    width: 209px;
    height: 200px;
    border-radius: 20PX;
    left: 675px;

    
}

.h1 {
    font-size: 25px;
}